<div>
	<div class="user-container">
		<div class="title">
		    <%= gravatar_for @user %>
			<%= @user.name %>
		</div>
		<div class="detail">
			<%= @user.email %>
		</div>
		<section>
     <%= render 'shared/stats' %>
       </section>
	</div>


	<div class="span8">
	<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any? %>
		<h3>Microposts (<%= @user.microposts.count %>)</h3>
				<ol class="microposts">
				<%= render @microposts %>
				</ol>
		<%= will_paginate @microposts %>
		<% end %>
    </div>

	<div>Trace :  <%= params.inspect %></div>
</div>